@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-end: 0em;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

a {
  color: rgb(33, 33, 33);
  text-decoration: none;
}
a:hover {
  color: rgb(33, 150, 243);
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  gap: 100px;
}

footer {
  align-items: center;
  background-color: rgb(47, 48, 58);
  display: flex;
  flex-direction: row;
  gap: 0px;
  height: 210px;
  padding-top: 40px;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

address {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 24px;
  width: 231px;
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  align-items: center;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  line-height: 30px;
}

.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close-modal {
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  border-width: 1px;
  display: flex;
  height: 30px;
  left: 93%;
  position: absolute;
  top: 1%;
  width: 30px;
}

.button--close-modal:hover {
  transform: rotate(360deg);
  transition: transform 500ms ease;
}

.button--services {
  margin-top: 40px;
  width: 260px;
}

.button--modal {
  margin: 30px 0px;
  width: 200px;
}

.button--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 0px 0px 20px;
  width: 200px;
}

.button--social-media {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: none;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.button--social-media:hover, .button--social-media:hover .icon--social-media {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
}

.button--social-media-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  height: 40px;
  width: 40px;
}

.button--social-media-footer svg {
  fill: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}

.button--social-media-footer:hover {
  background-color: rgb(33, 150, 243);
}

.button--category-container {
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  height: 38px;
  line-height: 26px;
  white-space: nowrap;
}

.button--category-container:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--category-container:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--menu {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  margin-right: 25px;
  box-shadow: none;
  display: none;
  border: 0px;
}

.button--menu:hover {
  box-shadow: none;
  border: 0px;
}

.button--menu:focus {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile {
  width: fit-content;
  height: fit-content;
  margin: 30px 20px 0px 410px;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

.button--close-mobile:hover {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile:focus {
  box-shadow: none;
  border: 0px;
}

@media screen and (max-width: 768px) {
  .button--services {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .button--services {
    margin: 30px;
    width: 200px;
  }
  .button--menu {
    display: flex;
  }
  .button--close-modal {
    left: 89%;
  }
}
.icon {
  fill: rgb(117, 117, 117);
}

.icon--footer-button {
  fill: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
}

.icon--navbar {
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.icon--social-media {
  height: 20px;
  width: 20px;
}

.icon--social-media-footer {
  height: 20px;
  width: 20px;
}

.icon--company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--input-modal {
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 65%;
  left: 3%;
  height: 13px;
  width: 13px;
}

.icon--menu {
  fill: rgb(33, 33, 33);
  height: 16px;
  width: 24px;
}

.icon--close {
  height: 12px;
  width: 12px;
}

.icon--close-mobile {
  height: 20px;
  width: 20px;
  fill: rgb(33, 33, 33);
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden,
.backdrop--is-hidden .modal {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.6);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
}
.modal__title {
  margin: 40px 0px 0px 0px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 20px;
}

.custom-input {
  height: 60px;
  width: 450px;
  position: relative;
  margin: 4px 0px 10px 0px;
}
.custom-input input {
  border: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  width: 100%;
  height: 40px;
  padding-left: 35px;
  font-family: "Roboto";
  font-weight: 700;
  margin: 6px 0px;
}
.custom-input label {
  text-transform: capitalize;
  color: rgb(117, 117, 117);
  font-size: 12px;
  font-weight: 500;
}
.custom-input input:focus {
  outline: none;
  border-color: rgb(33, 150, 243);
}
.custom-input input:focus + .icon--input-modal {
  height: 15px;
  width: 15px;
  fill: rgb(33, 150, 243);
}
.custom-input--feedback {
  height: 120px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.custom-input--feedback textarea {
  padding: 8px;
  text-align: start;
  border: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  width: 100%;
  height: 40px;
  font-family: "Roboto";
  font-weight: 700;
  margin: 6px 0px;
  height: 120px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  resize: none;
}
.custom-input--feedback textarea:focus {
  outline: none;
  border-color: rgb(33, 150, 243);
}
.custom-input--feedback textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
}

.terms-conditions-container {
  width: 430px;
}
.terms-conditions-container label {
  text-transform: none;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

@media screen and (max-width: 1172px) {
  .backdrop {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .backdrop {
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .backdrop {
    width: 480px;
  }
  .modal {
    width: 80%;
  }
  .modal__title {
    width: 80%;
  }
  label {
    width: 80%;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 20px;
  }
  .custom-input {
    width: 80%;
  }
  .custom-input textarea {
    width: 95%;
  }
  .terms-conditions-container {
    width: 80%;
  }
}
.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  align-items: center;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  line-height: 30px;
}

.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close-modal {
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  border-width: 1px;
  display: flex;
  height: 30px;
  left: 93%;
  position: absolute;
  top: 1%;
  width: 30px;
}

.button--close-modal:hover {
  transform: rotate(360deg);
  transition: transform 500ms ease;
}

.button--services {
  margin-top: 40px;
  width: 260px;
}

.button--modal {
  margin: 30px 0px;
  width: 200px;
}

.button--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 0px 0px 20px;
  width: 200px;
}

.button--social-media {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: none;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.button--social-media:hover, .button--social-media:hover .icon--social-media {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
}

.button--social-media-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  height: 40px;
  width: 40px;
}

.button--social-media-footer svg {
  fill: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}

.button--social-media-footer:hover {
  background-color: rgb(33, 150, 243);
}

.button--category-container {
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  height: 38px;
  line-height: 26px;
  white-space: nowrap;
}

.button--category-container:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--category-container:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--menu {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  margin-right: 25px;
  box-shadow: none;
  display: none;
  border: 0px;
}

.button--menu:hover {
  box-shadow: none;
  border: 0px;
}

.button--menu:focus {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile {
  width: fit-content;
  height: fit-content;
  margin: 30px 20px 0px 410px;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

.button--close-mobile:hover {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile:focus {
  box-shadow: none;
  border: 0px;
}

@media screen and (max-width: 768px) {
  .button--services {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .button--services {
    margin: 30px;
    width: 200px;
  }
  .button--menu {
    display: flex;
  }
  .button--close-modal {
    left: 89%;
  }
}
.icon {
  fill: rgb(117, 117, 117);
}

.icon--footer-button {
  fill: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
}

.icon--navbar {
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.icon--social-media {
  height: 20px;
  width: 20px;
}

.icon--social-media-footer {
  height: 20px;
  width: 20px;
}

.icon--company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--input-modal {
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 65%;
  left: 3%;
  height: 13px;
  width: 13px;
}

.icon--menu {
  fill: rgb(33, 33, 33);
  height: 16px;
  width: 24px;
}

.icon--close {
  height: 12px;
  width: 12px;
}

.icon--close-mobile {
  height: 20px;
  width: 20px;
  fill: rgb(33, 33, 33);
}

.mobile-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
}

.mobile-menu-container--is-open {
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  padding-left: 40px;
  margin-bottom: 400px;
}
.mobile-menu-list__link {
  font-size: 40px;
  font-weight: 500;
}
.mobile-menu-list__link--current a {
  color: rgb(33, 150, 243);
}

.mobile-menu-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
  gap: 32px;
}
.mobile-menu-contact__info {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
}
.mobile-menu-contact__info:first-child {
  font-size: 34px;
  color: rgb(33, 150, 243);
}

.mobile-menu-social {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}
.mobile-menu-social__red {
  padding-right: 10px;
  padding-left: 10px;
}
.mobile-menu-social__red a {
  color: rgb(33, 150, 243);
  font-size: 18px;
  font-weight: 500;
}
.mobile-menu-social__red:not(:last-child)::after {
  content: "l";
  opacity: 0.5;
  margin-left: 10px;
  font-size: 18px;
}

.icon {
  fill: rgb(117, 117, 117);
}

.icon--footer-button {
  fill: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
}

.icon--navbar {
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.icon--social-media {
  height: 20px;
  width: 20px;
}

.icon--social-media-footer {
  height: 20px;
  width: 20px;
}

.icon--company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--input-modal {
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 65%;
  left: 3%;
  height: 13px;
  width: 13px;
}

.icon--menu {
  fill: rgb(33, 33, 33);
  height: 16px;
  width: 24px;
}

.icon--close {
  height: 12px;
  width: 12px;
}

.icon--close-mobile {
  height: 20px;
  width: 20px;
  fill: rgb(33, 33, 33);
}

.navbar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 80px;
  border-bottom: 1px solid;
  border-color: rgb(236, 236, 236);
  justify-content: space-around;
  flex-direction: row;
}
.navbar__logo {
  color: rgb(33, 150, 243);
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 31px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-decoration: none;
}

.link-list {
  margin-left: 100px;
  align-items: center;
  display: flex;
  height: 80px;
  list-style: none;
  column-gap: 50px;
}
.link-list .link-list__link {
  line-height: 77px;
  font-weight: 700;
}
.link-list__link--current {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}
.link-list__link--current::after {
  line-height: 77px;
  font-weight: 600;
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
}

.contact-info-list {
  align-items: center;
  display: flex;
  height: 80px;
  list-style: none;
  column-gap: 50px;
}

.container-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container-info:hover .icon--navbar {
  fill: rgb(33, 150, 243);
}
.container-info__link {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 16px;
}

@media screen and (max-width: 1100px) {
  nav {
    gap: 80px;
  }
  .navbar {
    width: auto;
  }
  .navbar__logo {
    font-size: 24px;
  }
  .contact-info-list {
    align-items: flex-start;
  }
  .contact-info-list {
    justify-content: center;
    flex-direction: column;
  }
  .link-list {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    gap: 80px;
  }
  .navbar {
    width: auto;
  }
  .navbar__logo {
    font-size: 24px;
  }
  .contact-info-list {
    align-items: flex-start;
  }
  .contact-info-list {
    justify-content: center;
    flex-direction: column;
  }
  .link-list {
    margin-left: 0px;
  }
}
@media screen and (max-width: 480px) {
  nav {
    gap: 80px;
  }
  .navbar {
    width: auto;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .navbar__logo {
    font-size: 24px;
    margin-left: 15px;
  }
  .contact-info-list {
    align-items: flex-start;
  }
  .contact-info-list {
    display: none;
  }
  .link-list {
    display: none;
  }
}
.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  align-items: center;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  line-height: 30px;
}

.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close-modal {
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  border-width: 1px;
  display: flex;
  height: 30px;
  left: 93%;
  position: absolute;
  top: 1%;
  width: 30px;
}

.button--close-modal:hover {
  transform: rotate(360deg);
  transition: transform 500ms ease;
}

.button--services {
  margin-top: 40px;
  width: 260px;
}

.button--modal {
  margin: 30px 0px;
  width: 200px;
}

.button--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 0px 0px 20px;
  width: 200px;
}

.button--social-media {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: none;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.button--social-media:hover, .button--social-media:hover .icon--social-media {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
}

.button--social-media-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  height: 40px;
  width: 40px;
}

.button--social-media-footer svg {
  fill: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}

.button--social-media-footer:hover {
  background-color: rgb(33, 150, 243);
}

.button--category-container {
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  height: 38px;
  line-height: 26px;
  white-space: nowrap;
}

.button--category-container:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--category-container:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--menu {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  margin-right: 25px;
  box-shadow: none;
  display: none;
  border: 0px;
}

.button--menu:hover {
  box-shadow: none;
  border: 0px;
}

.button--menu:focus {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile {
  width: fit-content;
  height: fit-content;
  margin: 30px 20px 0px 410px;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

.button--close-mobile:hover {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile:focus {
  box-shadow: none;
  border: 0px;
}

@media screen and (max-width: 768px) {
  .button--services {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .button--services {
    margin: 30px;
    width: 200px;
  }
  .button--menu {
    display: flex;
  }
  .button--close-modal {
    left: 89%;
  }
}
.icon {
  fill: rgb(117, 117, 117);
}

.icon--footer-button {
  fill: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
}

.icon--navbar {
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.icon--social-media {
  height: 20px;
  width: 20px;
}

.icon--social-media-footer {
  height: 20px;
  width: 20px;
}

.icon--company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--input-modal {
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 65%;
  left: 3%;
  height: 13px;
  width: 13px;
}

.icon--menu {
  fill: rgb(33, 33, 33);
  height: 16px;
  width: 24px;
}

.icon--close {
  height: 12px;
  width: 12px;
}

.icon--close-mobile {
  height: 20px;
  width: 20px;
  fill: rgb(33, 33, 33);
}

.footer-contact {
  align-content: flex-start;
  align-items: flex-start;
  column-gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 215px;
}
.footer-contact__logo {
  color: rgb(33, 150, 243);
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 31px;
  margin-block-end: 14px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-align: right;
  text-decoration: none;
}

.footer-social-media {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.footer-social-media ul {
  display: flex;
  gap: 10px;
}
.footer-social-media__title {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 16px;
  margin-block-end: 20px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-bottom: 0%;
  text-transform: uppercase;
}

.subscribe-container {
  margin-left: 95px;
}
.subscribe-container form {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.subscribe-container input {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 50px;
  line-height: 20px;
  outline: 0px;
  padding-left: 15px;
  width: 360px;
}
.subscribe-container input:focus {
  border-color: rgb(255, 255, 255);
  outline: 0;
}
.subscribe-container__form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1370px) {
  footer {
    flex-wrap: wrap;
  }
  .footer-contact {
    align-items: center;
    margin-left: 0px;
  }
  .footer-contact__list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-social-media {
    align-items: center;
  }
  .subscribe-container {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subscribe-container form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .subscribe-container__form-container {
    align-items: center;
  }
}
@media screen and (max-width: 1172px) {
  footer {
    height: 465px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 465px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    height: 600px;
  }
  .footer-social-media {
    align-items: center;
    margin: 0px 40px;
  }
}
.card {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 20px;
  row-gap: 30px;
}
.card:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card--teams {
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 20px;
  row-gap: 30px;
}
.card--teams img {
  height: 260px;
}
.card--teams svg {
  fill: rgb(117, 117, 117);
  height: 20px;
  width: 20px;
}

.card--products {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 410px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0%;
  position: relative;
  width: 370px;
}
.card--products:hover .card--emergent {
  transform: translateY(0%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms ease;
}
.card--products:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.card--products__name {
  box-shadow: none;
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.card--products__category {
  box-shadow: none;
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-left: 20px;
  margin-top: 15px;
}

.card--emergent {
  align-items: center;
  background: rgba(33, 150, 243, 0.85);
  border-radius: 2px;
  box-shadow: none;
  color: rgb(255, 255, 255);
  display: flex;
  height: 295px;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 28px;
  padding: 63px 24px;
  position: absolute;
  transform: translateY(140%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms ease;
  width: 370px;
}

.feature-card {
  box-shadow: none;
  background-color: rgb(245, 244, 250);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.feature-card__icon {
  width: 70px;
  height: 70px;
}
.feature-card:hover {
  box-shadow: none;
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  align-items: center;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  line-height: 30px;
}

.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close-modal {
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  border-width: 1px;
  display: flex;
  height: 30px;
  left: 93%;
  position: absolute;
  top: 1%;
  width: 30px;
}

.button--close-modal:hover {
  transform: rotate(360deg);
  transition: transform 500ms ease;
}

.button--services {
  margin-top: 40px;
  width: 260px;
}

.button--modal {
  margin: 30px 0px;
  width: 200px;
}

.button--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 0px 0px 20px;
  width: 200px;
}

.button--social-media {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: none;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.button--social-media:hover, .button--social-media:hover .icon--social-media {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
}

.button--social-media-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  height: 40px;
  width: 40px;
}

.button--social-media-footer svg {
  fill: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}

.button--social-media-footer:hover {
  background-color: rgb(33, 150, 243);
}

.button--category-container {
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  height: 38px;
  line-height: 26px;
  white-space: nowrap;
}

.button--category-container:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--category-container:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--menu {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  margin-right: 25px;
  box-shadow: none;
  display: none;
  border: 0px;
}

.button--menu:hover {
  box-shadow: none;
  border: 0px;
}

.button--menu:focus {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile {
  width: fit-content;
  height: fit-content;
  margin: 30px 20px 0px 410px;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

.button--close-mobile:hover {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile:focus {
  box-shadow: none;
  border: 0px;
}

@media screen and (max-width: 768px) {
  .button--services {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .button--services {
    margin: 30px;
    width: 200px;
  }
  .button--menu {
    display: flex;
  }
  .button--close-modal {
    left: 89%;
  }
}
.services-container {
  align-items: center;
  background: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-content-image.jpg);
  background-attachment: fixed;
  background-size: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.services-container__title {
  color: rgb(255, 255, 255);
  font-size: 44px;
  height: 120px;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
}

@media screen and (max-width: 1172px) {
  .services-container {
    background-size: auto;
    width: 1172px;
    height: 400px;
  }
  .services-container__title {
    height: 85px;
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .services-container {
    background-size: auto;
    width: 768px;
    height: 400px;
  }
  .services-container__title {
    height: 85px;
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .services-container {
    background-size: auto;
    background-repeat: no-repeat;
    width: 480px;
    height: 400px;
  }
  .services-container__title {
    height: 80px;
    width: 70%;
    font-size: 26px;
  }
}
.our-job-container__title {
  align-items: center;
  color: rgb(33, 33, 33);
  display: block;
  flex-direction: row;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 42px;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}
.our-job-container__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 0% 15%;
  gap: 30px;
}

.img-container {
  position: relative;
}
.img-container__title {
  background-color: rgba(47, 48, 58, 0.8);
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 70px;
  position: absolute;
  text-transform: uppercase;
  top: 77%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1172px) {
  .our-job-container {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .our-job-container {
    display: none;
  }
}
.card {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 20px;
  row-gap: 30px;
}

.card:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card--teams {
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 20px;
  row-gap: 30px;
}

.card--teams img {
  height: 260px;
}

.card--teams svg {
  fill: rgb(117, 117, 117);
  height: 20px;
  width: 20px;
}

.card--products {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 410px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0%;
  position: relative;
  width: 370px;
}

.card--products:hover .card--emergent {
  transform: translateY(0%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms ease;
}

.card--products:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card--products__name {
  box-shadow: none;
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.card--products__category {
  box-shadow: none;
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-left: 20px;
  margin-top: 15px;
}

.card--emergent {
  align-items: center;
  background: rgba(33, 150, 243, 0.85);
  border-radius: 2px;
  box-shadow: none;
  color: rgb(255, 255, 255);
  display: flex;
  height: 295px;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 28px;
  padding: 63px 24px;
  position: absolute;
  transform: translateY(140%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms ease;
  width: 370px;
}

.feature-card {
  box-shadow: none;
  background-color: rgb(245, 244, 250);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.feature-card__icon {
  width: 70px;
  height: 70px;
}

.feature-card:hover {
  box-shadow: none;
}

.icon {
  fill: rgb(117, 117, 117);
}

.icon--footer-button {
  fill: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
}

.icon--navbar {
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.icon--social-media {
  height: 20px;
  width: 20px;
}

.icon--social-media-footer {
  height: 20px;
  width: 20px;
}

.icon--company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--input-modal {
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 65%;
  left: 3%;
  height: 13px;
  width: 13px;
}

.icon--menu {
  fill: rgb(33, 33, 33);
  height: 16px;
  width: 24px;
}

.icon--close {
  height: 12px;
  width: 12px;
}

.icon--close-mobile {
  height: 20px;
  width: 20px;
  fill: rgb(33, 33, 33);
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  align-items: center;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  line-height: 30px;
}

.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close-modal {
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  border-width: 1px;
  display: flex;
  height: 30px;
  left: 93%;
  position: absolute;
  top: 1%;
  width: 30px;
}

.button--close-modal:hover {
  transform: rotate(360deg);
  transition: transform 500ms ease;
}

.button--services {
  margin-top: 40px;
  width: 260px;
}

.button--modal {
  margin: 30px 0px;
  width: 200px;
}

.button--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 0px 0px 20px;
  width: 200px;
}

.button--social-media {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: none;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.button--social-media:hover, .button--social-media:hover .icon--social-media {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
}

.button--social-media-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  height: 40px;
  width: 40px;
}

.button--social-media-footer svg {
  fill: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}

.button--social-media-footer:hover {
  background-color: rgb(33, 150, 243);
}

.button--category-container {
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  height: 38px;
  line-height: 26px;
  white-space: nowrap;
}

.button--category-container:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--category-container:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--menu {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  margin-right: 25px;
  box-shadow: none;
  display: none;
  border: 0px;
}

.button--menu:hover {
  box-shadow: none;
  border: 0px;
}

.button--menu:focus {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile {
  width: fit-content;
  height: fit-content;
  margin: 30px 20px 0px 410px;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

.button--close-mobile:hover {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile:focus {
  box-shadow: none;
  border: 0px;
}

@media screen and (max-width: 768px) {
  .button--services {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .button--services {
    margin: 30px;
    width: 200px;
  }
  .button--menu {
    display: flex;
  }
  .button--close-modal {
    left: 89%;
  }
}
.team-container {
  background-color: rgb(245, 244, 250);
  margin-top: 90px;
  padding-bottom: 90px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-container__title {
  align-items: center;
  color: rgb(33, 33, 33);
  display: block;
  flex-direction: row;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 42px;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}
.team-container__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.team-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-section__team-name {
  color: rgb(33, 33, 33);
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 19px;
  margin-bottom: 10px;
  text-align: center;
}
.team-section__team-job {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 19px;
  text-align: center;
}

.team-social-media {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 15px 0px;
  width: 260px;
}

@media screen and (max-width: 1172px) {
  .team-container__list {
    width: 1172px;
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .team-container__list {
    width: 768px;
    padding: 10px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .team-container__list {
    width: 480px;
  }
}
.icon {
  fill: rgb(117, 117, 117);
}

.icon--footer-button {
  fill: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
}

.icon--navbar {
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.icon--social-media {
  height: 20px;
  width: 20px;
}

.icon--social-media-footer {
  height: 20px;
  width: 20px;
}

.icon--company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--input-modal {
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 65%;
  left: 3%;
  height: 13px;
  width: 13px;
}

.icon--menu {
  fill: rgb(33, 33, 33);
  height: 16px;
  width: 24px;
}

.icon--close {
  height: 12px;
  width: 12px;
}

.icon--close-mobile {
  height: 20px;
  width: 20px;
  fill: rgb(33, 33, 33);
}

.clients-container__title {
  align-items: center;
  color: rgb(33, 33, 33);
  display: block;
  flex-direction: row;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 42px;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}
.clients-container__list {
  margin: 45px 0px 150px 0px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-evenly;
  padding: 0% 15%;
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client__container {
  align-items: center;
  border-radius: 4px;
  border: 2px solid rgb(175, 177, 184);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  width: 170px;
}
.client__container:hover, .client__container:hover .icon--company {
  fill: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
  cursor: pointer;
}

@media screen and (max-width: 1172px) {
  .clients-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clients-container__list {
    width: 1172px;
    padding: 0px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .clients-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clients-container__list {
    width: 768px;
    padding: 0px 15px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .clients-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clients-container__list {
    width: 480px;
    padding: 0px 15px;
    flex-wrap: wrap;
  }
}
.features-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 0% 15%;
}
.features-list__element h2 {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 215px;
  letter-spacing: 0.03em;
  line-height: 16px;
  text-transform: uppercase;
  top: 775px;
  width: 270px;
}
.features-list__element p {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 75px;
  left: 215px;
  letter-spacing: 0.03em;
  line-height: 24px;
  top: 801px;
  width: 270px;
}

@media screen and (max-width: 1172px) {
  .features-list {
    width: 1172px;
    flex-wrap: wrap;
    padding: 200px;
  }
}
@media screen and (max-width: 768px) {
  .features-list {
    width: 768px;
    flex-wrap: wrap;
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .features-list {
    width: 480px;
    flex-wrap: wrap;
  }
}
.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  align-items: center;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  line-height: 30px;
}
.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close-modal {
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  border-width: 1px;
  display: flex;
  height: 30px;
  left: 93%;
  position: absolute;
  top: 1%;
  width: 30px;
}
.button--close-modal:hover {
  transform: rotate(360deg);
  transition: transform 500ms ease;
}

.button--services {
  margin-top: 40px;
  width: 260px;
}

.button--modal {
  margin: 30px 0px;
  width: 200px;
}

.button--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 0px 0px 20px;
  width: 200px;
}

.button--social-media {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: none;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.button--social-media:hover, .button--social-media:hover .icon--social-media {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
}

.button--social-media-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  height: 40px;
  width: 40px;
}
.button--social-media-footer svg {
  fill: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}
.button--social-media-footer:hover {
  background-color: rgb(33, 150, 243);
}

.button--category-container {
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  height: 38px;
  line-height: 26px;
  white-space: nowrap;
}
.button--category-container:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}
.button--category-container:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--menu {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  margin-right: 25px;
  box-shadow: none;
  display: none;
  border: 0px;
}
.button--menu:hover {
  box-shadow: none;
  border: 0px;
}
.button--menu:focus {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile {
  width: fit-content;
  height: fit-content;
  margin: 30px 20px 0px 410px;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}
.button--close-mobile:hover {
  box-shadow: none;
  border: 0px;
}
.button--close-mobile:focus {
  box-shadow: none;
  border: 0px;
}

@media screen and (max-width: 768px) {
  .button--services {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .button--services {
    margin: 30px;
    width: 200px;
  }
  .button--menu {
    display: flex;
  }
  .button--close-modal {
    left: 89%;
  }
}
.icon {
  fill: rgb(117, 117, 117);
}

.icon--footer-button {
  fill: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
}

.icon--navbar {
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.icon--social-media {
  height: 20px;
  width: 20px;
}

.icon--social-media-footer {
  height: 20px;
  width: 20px;
}

.icon--company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--input-modal {
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 65%;
  left: 3%;
  height: 13px;
  width: 13px;
}

.icon--menu {
  fill: rgb(33, 33, 33);
  height: 16px;
  width: 24px;
}

.icon--close {
  height: 12px;
  width: 12px;
}

.icon--close-mobile {
  height: 20px;
  width: 20px;
  fill: rgb(33, 33, 33);
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  align-items: center;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  line-height: 30px;
}

.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close-modal {
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  border-width: 1px;
  display: flex;
  height: 30px;
  left: 93%;
  position: absolute;
  top: 1%;
  width: 30px;
}

.button--close-modal:hover {
  transform: rotate(360deg);
  transition: transform 500ms ease;
}

.button--services {
  margin-top: 40px;
  width: 260px;
}

.button--modal {
  margin: 30px 0px;
  width: 200px;
}

.button--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 0px 0px 20px;
  width: 200px;
}

.button--social-media {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: none;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.button--social-media:hover, .button--social-media:hover .icon--social-media {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
}

.button--social-media-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  display: flex;
  height: 40px;
  width: 40px;
}

.button--social-media-footer svg {
  fill: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}

.button--social-media-footer:hover {
  background-color: rgb(33, 150, 243);
}

.button--category-container {
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  height: 38px;
  line-height: 26px;
  white-space: nowrap;
}

.button--category-container:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--category-container:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.button--menu {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  margin-right: 25px;
  box-shadow: none;
  display: none;
  border: 0px;
}

.button--menu:hover {
  box-shadow: none;
  border: 0px;
}

.button--menu:focus {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile {
  width: fit-content;
  height: fit-content;
  margin: 30px 20px 0px 410px;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

.button--close-mobile:hover {
  box-shadow: none;
  border: 0px;
}

.button--close-mobile:focus {
  box-shadow: none;
  border: 0px;
}

@media screen and (max-width: 768px) {
  .button--services {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .button--services {
    margin: 30px;
    width: 200px;
  }
  .button--menu {
    display: flex;
  }
  .button--close-modal {
    left: 89%;
  }
}
.icon {
  fill: rgb(117, 117, 117);
}

.icon--footer-button {
  fill: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
}

.icon--navbar {
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.icon--social-media {
  height: 20px;
  width: 20px;
}

.icon--social-media-footer {
  height: 20px;
  width: 20px;
}

.icon--company {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--input-modal {
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 65%;
  left: 3%;
  height: 13px;
  width: 13px;
}

.icon--menu {
  fill: rgb(33, 33, 33);
  height: 16px;
  width: 24px;
}

.icon--close {
  height: 12px;
  width: 12px;
}

.icon--close-mobile {
  height: 20px;
  width: 20px;
  fill: rgb(33, 33, 33);
}

.card {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 20px;
  row-gap: 30px;
}

.card:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card--teams {
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 20px;
  row-gap: 30px;
}

.card--teams img {
  height: 260px;
}

.card--teams svg {
  fill: rgb(117, 117, 117);
  height: 20px;
  width: 20px;
}

.card--products {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 410px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0%;
  position: relative;
  width: 370px;
}

.card--products:hover .card--emergent {
  transform: translateY(0%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms ease;
}

.card--products:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card--products__name {
  box-shadow: none;
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.card--products__category {
  box-shadow: none;
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-left: 20px;
  margin-top: 15px;
}

.card--emergent {
  align-items: center;
  background: rgba(33, 150, 243, 0.85);
  border-radius: 2px;
  box-shadow: none;
  color: rgb(255, 255, 255);
  display: flex;
  height: 295px;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 28px;
  padding: 63px 24px;
  position: absolute;
  transform: translateY(140%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms ease;
  width: 370px;
}

.feature-card {
  box-shadow: none;
  background-color: rgb(245, 244, 250);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.feature-card__icon {
  width: 70px;
  height: 70px;
}

.feature-card:hover {
  box-shadow: none;
}

.portfolio-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  padding: 0% 15% 0% 15%;
}

.category-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  gap: 20px;
}

.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 3;
  gap: 30px;
  justify-content: space-around;
  margin-bottom: 80px;
  margin-top: 50px;
}

/*# sourceMappingURL=styles.css.map */
