@import "utils/color";
@import "utils/config";
@import "utils/mixins";
@import "utils/utils";

@import "./components/modal";
@import "./components/mobile-menu";
@import "./components/header";
@import "./components/footer";
@import "./components/cards";
@import "./components/services";
@import "./components/our-job";
@import "./components/team";
@import "./components/clients";
@import "./components/features";
@import "./components/buttons";
@import "./components/icons";
@import "./components/_portfolio";


@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
