@use "../utils/color" as color;
@use "../utils/mixins" as mixin;

.button {
  @include mixin.box-shadow();
  align-items: center;
  background: color.$main-color;
  border-radius: 4px;
  border: none;
  color: color.$white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  line-height: 30px;

  &:hover {
    @include mixin.box-shadow(true);
    transform: scale(1.02);
    transition: transform 50ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.button--close-modal {
  background-color: color.$white;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  border-width: 1px;
  display: flex;
  height: 30px;
  left: 93%;
  position: absolute;
  top: 1%;
  width: 30px;

  &:hover {
    transform: rotate(360deg);
    transition: transform 500ms ease;
  }
}

.button--services {
  margin-top: 40px;
  width: 260px;
}
.button--modal {
  margin: 30px 0px;
  width: 200px;
}
.button--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 0px 0px 20px;
  width: 200px;
}
.button--social-media {
  background-color: color.$white;
  border-radius: 100%;
  box-shadow: none;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
  &:hover,
  &:hover .icon--social-media {
    background-color: color.$main-color;
    fill: color.$white;
  }
}
.button--social-media-footer {
  background-color: color.$gray;
  border-radius: 100%;
  display: flex;
  height: 40px;
  width: 40px;
  svg {
    fill: color.$white;
    height: 20px;
    width: 20px;
  }
  &:hover {
    background-color: color.$main-color;
  }
}

.button--category-container {
  background-color: color.$light-gray-2;
  color: color.$black;
  height: 38px;
  line-height: 26px;
  white-space: nowrap;

  &:hover {
    background-color: color.$main-color;
    color: color.$white;
  }
  &:focus {
    background-color: color.$main-color;
    color: color.$white;
  }
}

.button--menu {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  margin-right: 25px;
  box-shadow: none;
  display: none;
  border: 0px;
  &:hover {
    box-shadow: none;
    border: 0px;
  }
  &:focus {
    box-shadow: none;
    border: 0px;
  }
}
.button--close-mobile {
  width: fit-content;
  height: fit-content;
  margin: 30px 20px 0px 410px;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  &:hover {
    box-shadow: none;
    border: 0px;
  }
  &:focus {
    box-shadow: none;
    border: 0px;
  }
}

@media screen and (max-width: 768px) {
  .button--services {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .button--services {
    margin: 30px;
    width: 200px;
  }
  .button--menu {
    display: flex;
  }
  .button--close-modal{
    left: 89%;
  }
}
