@use "../utils/color" as color;
@use "../utils/mixins" as mixin;

.card {
  @include mixin.box-shadow-cards();
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 20px;
  row-gap: 30px;

  &:hover {
    @include mixin.box-shadow-cards(true);
    cursor: pointer;
  }
}

.card--teams {
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 14%);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 20px;
  row-gap: 30px;
  img {
    height: 260px;
  }
  svg {
    fill: color.$light-gray;
    height: 20px;
    width: 20px;
  }
}

.card--products {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 410px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0%;
  position: relative;
  width: 370px;
  &:hover .card--emergent {
    transform: translateY(0%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms ease;
  }
  &:hover {
    @include mixin.box-shadow-cards(true);
    cursor: pointer;
  }

  &__name {
    box-shadow: none;
    color: color.$black;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }

  &__category {
    box-shadow: none;
    color: color.$light-gray;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-left: 20px;
    margin-top: 15px;
  }
}
.card--emergent {
  align-items: center;
  background: color.$main-color-translucent;
  border-radius: 2px;
  box-shadow: none;
  color: color.$white;
  display: flex;
  height: 295px;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 28px;
  padding: 63px 24px;
  position: absolute;
  transform: translateY(140%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms ease;
  width: 370px;
}
.feature-card {
  box-shadow: none;
  background-color: color.$light-gray-2;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;

  &__icon {
    width: 70px;
    height: 70px;

  }
  &:hover {
    box-shadow: none;
  }
}
