@use "../utils/color" as color;
@use "../utils/mixins" as mixin;
@use "./icons" as icons;

.clients-container {
  &__title {
    align-items: center;
    color: color.$black;
    display: block;
    flex-direction: row;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 42px;
    margin-top: 100px;
    text-align: center;
    width: 100%;
  }

  &__list {
    margin: 45px 0px 150px 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-evenly;
    padding: 0% 15%;
  }
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    align-items: center;
    border-radius: 4px;
    border: 2px solid rgba(175, 177, 184, 1);
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: center;
    width: 170px;
    &:hover,
    &:hover .icon--company {
      fill: color.$main-color;
      border-color: color.$main-color;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1200px) {
  .clients-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clients-container__list{
    width: auto;
    padding: 0px 15px;
    flex-wrap: wrap;
    margin: 45px 17% 150px 17%;
  }
}
@media screen and (max-width: 910px) {
  .clients-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clients-container__list{
    padding: 0px 15px;
    margin: 45px 7% 150px 7%;
  }
}

@media screen and (max-width: 478px) {
  .clients-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clients-container__list{
    padding: 0px;
    margin: 45px 0% 150px 0%;
  }
  
}
