@use "../utils/color" as color;
@use "../utils/mixins" as mixin;
@use "./buttons" as buttons;
@use "./icons" as icons;

.footer-contact {
  align-content: flex-start;
  align-items: flex-start;
  column-gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 215px;

  &__logo {
    color: color.$main-color;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 31px;
    margin-block-end: 14px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-align: right;
    text-decoration: none;
  }
}
.footer-social-media {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 60px;

  ul {
    display: flex;
    gap: 10px;
  }

  &__title {
    color: color.$white;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 16px;
    margin-block-end: 20px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-bottom: 0%;
    text-transform: uppercase;
  }
}

.subscribe-container {
  margin-left: 95px;
  form {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  input {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: color.$white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 50px;
    line-height: 20px;
    outline: 0px;
    padding-left: 15px;
    width: 360px;

    &:focus {
      border-color: color.$white;
      outline: 0;
    }
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 1370px) {
  footer {
    flex-wrap: wrap;
  }
  .footer-contact {
    align-items: center;
    margin-left: 0px;
  }
  .footer-contact__list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-social-media {
    align-items: center;
  }
  .subscribe-container {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      gap: 20px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
  .subscribe-container__form-container {
    align-items: center;
  }
}
@media screen and (max-width: 1172px) {
  footer {
    height: 465px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 465px;
  }

}
@media screen and (max-width: 480px) {
  footer{
    height: 600px;
  }
  .footer-social-media{
    align-items: center;
    margin: 0px 40px;
  }

}