@use "../utils/color" as color;
@use "../utils/mixins" as mixin;

.our-job-container {
  &__title {
    align-items: center;
    color: color.$black;
    display: block;
    flex-direction: row;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 42px;
    margin-top: 100px;
    text-align: center;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 0% 15%;
    gap: 30px;
  }
}

.img-container {
  position: relative;

  &__title {
    background-color: rgba(47, 48, 58, 0.8);
    color: color.$white;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    height: 70px;
    position: absolute;
    text-transform: uppercase;
    top: 77%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1172px) {
  .our-job-container {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .our-job-container {
    display: none;
  }
}
