@use "../utils/color" as color;
@use "../utils/mixins" as mixin;
@use "./buttons" as buttons;
@use "./icons" as icons;
@use "./cards" as cards;

.portfolio-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  padding: 0% 15% 0% 15%;
}

.category-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
  gap:20px
}
.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 3;
  gap: 30px;
  justify-content: space-around;
  margin-bottom: 80px;
  margin-top: 50px;
}

@media screen and (max-width:565px){
  .category-container{
    flex-wrap: wrap;
  }
}

