$main-color: rgba(33, 150, 243, 1);
$main-color-translucent: rgba(33, 150, 243, 0.85);
$main-color-2: rgba(47, 48, 58, 1);
$light-gray: rgba(117, 117, 117, 1);
$light-gray-2: rgba(245, 244, 250, 1);
$gray: rgba(255, 255, 255, 0.1);
$white: rgba(255, 255, 255, 1);
$black: rgba(33, 33, 33, 1);
$black-translucent: rgba(0, 0, 0, 0.5);
$background-translucent: rgba(47, 48, 58, 0.4);

$shadow: rgba(0, 0, 0, .14);
$shadow-hover: rgba(0, 0, 0, 0.20);





